<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Dark Mode -->
    <!-- <meta name="color-scheme" content="dark"> -->

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.ico">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Styles -->
    <meta name="theme-color" content="#7952b3">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <title>Sign Up</title>
</head>

<body class="text-center">

    <main class="form-signin">
        <form action="/" method="POST">
            <img class="mb-4" src="img/icon.png" alt="" width="80" height="80">
            <h1 class="h3 mb-3 fw-normal">Sign Up for My Newsletter!</h1>

            <div class="form-floating">
                <input type="text" name="fName" class="form-control top text-light bg-dark" placeholder="First Name">
                <label for="firstName">First Name</label>
            </div>
            <div class="form-floating">
                <input type="text" name="lName" class="form-control middle text-light bg-dark" placeholder="Last Name">
                <label for="lastName">Last Name</label>
            </div>
            <div class="form-floating">
                <input type="email" name="email" class="form-control bottom text-light bg-dark" placeholder="name@example.com">
                <label for="email">Email address</label>
            </div>

            <button class="w-100 btn btn-lg btn-success" type="submit">Sign Up</button>
            <br><br><br>
            <a class="twitter-link" href="https://twitter.com/javahollow">@javahollow</a>
        </form>
    </main>




    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>